# 1. Using iterators in Python
## Introduction to iterators

In [1]:
employees = ['Nick','Lore','Hugo']
for person in employees:
    print(person)

Nick
Lore
Hugo

In [2]:
for letter in 'Employees':
    print(letter)

E
m
p
l
o
y
e
e
s

In [3]:
for number in range(5):
    print(number)

0
1
2
3
4

In [6]:
word = 'Data'
it = iter(word)
print(*it)

D a t a

In [7]:
data_scientists = {'Aldair':'Mendoza', 'Hugo':'Bowne-Anderson'}
for key, value in data_scientists.items():
    print(key, value)

Aldair Mendoza
Hugo Bowne-Anderson

### Iterators vs. Iterables

In [15]:
# Create a list of strings: flash
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

# Print each list item in flash using a for loop
for person in flash:
        print(person)

jay garrick
barry allen
wally west
bart allen

In [16]:
# Create an iterator for flash: superhero
superhero = iter(flash)

# Print each item from the iterator
print(next(superhero))

jay garrick

In [17]:
print(next(superhero))

barry allen

In [18]:
print(next(superhero))

wally west

In [19]:
print(next(superhero))

bart allen

In [20]:
# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

0
1
2

In [21]:
# Loop over range(3) and print the values
for num in range(3):
        print(num)

0
1
2

In [22]:
# Create an iterator for range(10 ** 100): googol
googol = iter(range(10**100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
3
4

### Iterators as function arguments

In [23]:
# Create a range object: values
values = range(10,21)

# Print the range object
print(values)

range(10, 21)

In [24]:
# Create a list of integers: values_list
values_list = list(values)

# Print values_list
print(values_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [25]:
# Get the sum of values: values_sum
values_sum = sum(values)

# Print values_sum
print(values_sum)

165

## Playing with iterators

In [26]:
avengers = ['Hawkeye', 'Iron Man', 'Captain America', 'Hulk']
e = enumerate(avengers)
print(type(e))

<class 'enumerate'>

In [28]:
print(list(e))

[(0, 'Hawkeye'), (1, 'Iron Man'), (2, 'Captain America'), (3, 'Hulk')]

In [29]:
for index, value in enumerate(avengers):
    print(index, value)

0 Hawkeye
1 Iron Man
2 Captain America
3 Hulk

In [30]:
for index, value in enumerate(avengers, start = 1):
    print(index, value)

1 Hawkeye
2 Iron Man
3 Captain America
4 Hulk

In [31]:
avengers

['Hawkeye', 'Iron Man', 'Captain America', 'Hulk']

In [62]:
names = ['Clint Barton','Tony Stark','Steve Rogers','Bruce Banner']
z = zip(avengers,names)
print(type(z))

<class 'zip'>

In [63]:
z_list = list(z)
print(z_list)

[('Hawkeye', 'Clint Barton'), ('Iron Man', 'Tony Stark'), ('Captain America', 'Steve Rogers'), ('Hulk', 'Bruce Banner')]

In [64]:
for z1, z2 in zip(avengers, names):
    print(z1, z2)

Hawkeye Clint Barton
Iron Man Tony Stark
Captain America Steve Rogers
Hulk Bruce Banner

In [53]:
z = zip(avengers,names)
print(*z)

('Hawkeye', 'Clint Barton') ('Iron Man', 'Tony Stark') ('Captain America', 'Steve Rogers') ('Hulk', 'Bruce Banner')

### Using enumerate

In [71]:
# Create a list of strings: mutants
mutants = ('charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde')

# Create a list of tuples: mutant_list
mutant_list = list(enumerate(mutants))

# Print the list of tuples
print(mutant_list)

[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pryde')]

In [56]:
# Unpack and print the tuple pairs
for index1, value1 in enumerate(mutants):
    print(index1, value1)

0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pryde

In [57]:
# Change the start index
for index2, value2 in enumerate(mutants, start=1):
    print(index2, value2)

1 charles xavier
2 bobby drake
3 kurt wagner
4 max eisenhardt
5 kitty pryde

### Using zip

In [72]:
aliases = ('prof x', 'iceman', 'nightcrawler', 'magneto', 'shadowcat')
powers = ('telepathy',
 'thermokinesis',
 'teleportation',
 'magnetokinesis',
 'intangibility')

# Create a list of tuples: mutant_data
mutant_data = list(zip(mutants, aliases, powers))

# Print the list of tuples
print(mutant_data)

[('charles xavier', 'prof x', 'telepathy'), ('bobby drake', 'iceman', 'thermokinesis'), ('kurt wagner', 'nightcrawler', 'teleportation'), ('max eisenhardt', 'magneto', 'magnetokinesis'), ('kitty pryde', 'shadowcat', 'intangibility')]

In [60]:
# Create a zip object using the three lists: mutant_zip
mutant_zip = zip(mutants, aliases, powers)

# Print the zip object
print(mutant_zip)

<zip object at 0x7fd58716c540>

In [61]:
# Unpack the zip object and print the tuple values
for value1, value2, value3 in mutant_zip:
    print(value1, value2, value3)

charles xavier prof x telepathy
bobby drake iceman thermokinesis
kurt wagner nightcrawler teleportation
max eisenhardt magneto magnetokinesis
kitty pryde shadowcat intangibility

### Using * and zip to 'unzip'

In [73]:
# Create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# Print the tuples in z1 by unpacking with *
print(*z1)

('charles xavier', 'telepathy') ('bobby drake', 'thermokinesis') ('kurt wagner', 'teleportation') ('max eisenhardt', 'magnetokinesis') ('kitty pryde', 'intangibility')

In [75]:
# Re-create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# 'Unzip' the tuples in z1 by unpacking with * and zip(): result1, result2
result1, result2 = zip(*z1)

# Check if unpacked tuples are equivalent to original tuples
print(result1)
print(result2)

('charles xavier', 'bobby drake', 'kurt wagner', 'max eisenhardt', 'kitty pryde')
('telepathy', 'thermokinesis', 'teleportation', 'magnetokinesis', 'intangibility')

In [76]:
print(result1 == mutants)
print(result2 == powers)

True
True

## Using iterators to load large files into memory
### Processing large amounts of Twitter data

In [78]:
import pandas as pd

# Initialize an empty dictionary: counts_dict
counts_dict = {}

# Iterate over the file chunk by chunk
for chunk in pd.read_csv('tweets.csv', chunksize=10):

    # Iterate over the column in DataFrame
    for entry in chunk['lang']:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)

{'en': 97, 'et': 1, 'und': 2}

### Extracting information for large amounts of Twitter data

In [80]:
# Define count_entries()
def count_entries(csv_file, c_size, colname):
    """Return a dictionary with counts of occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file, chunksize = c_size):

        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

In [81]:
# Call count_entries(): result_counts
result_counts = count_entries('tweets.csv', 10, 'lang')

# Print result_counts
print(result_counts)

{'en': 97, 'et': 1, 'und': 2}

# 2. List comprehensions and generators
## List comprehensions

In [82]:
nums = [12,8,21,3,16]
new_nums = []
for num in nums:
    new_nums.append(num + 1)

In [83]:
print(new_nums)

[13, 9, 22, 4, 17]

In [84]:
new_numbers = [num + 1 for num in nums]
print(new_numbers)

[13, 9, 22, 4, 17]

In [87]:
result = [num for num in range(11)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
pair_1 = []
for num1 in range(0,2):
    for num2 in range(6,8):
        pair_1.append((num1,num2))
print(pair_1)

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [91]:
pairs_2 = [(num1,num2) for num1 in range(0,2) for num2 in range(6,8)]
print(pairs_2)

[(0, 6), (0, 7), (1, 6), (1, 7)]

### Write a basic list comprehension

In [92]:
doctor = ['house', 'cuddy', 'chase', 'thirteen', 'wilson']
first_letter = [doc[0] for doc in doctor]
print(first_letter)

['h', 'c', 'c', 't', 'w']

### Writing list comprehensions

In [95]:
# Create list comprehension: squares
squares = [i**2 for i in range(0,11)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Nested list comprehensions

In [96]:
# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(5)] for row in range(5)]

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

## Advanced comprehensions

In [100]:
even_numbers = [num ** 2 for num in range(0,11) if num % 2 == 0]
print(even_numbers)

[0, 4, 16, 36, 64, 100]

> Square for even numbers.

In [103]:
[num ** 2 if num % 2 == 0 else 0 for num in range(11)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0, 100]

> Square for even numbers and 0 for odd numbers.

In [105]:
positive_negative = {num: -num for num in range(11)}
print(positive_negative)

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8, 9: -9, 10: -10}

In [106]:
print(type(positive_negative))

<class 'dict'>

### Using conditionals in comprehensions

In [107]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [member for member in fellowship if len(member) >= 7]

# Print the new list
print(new_fellowship)

['samwise', 'aragorn', 'legolas', 'boromir']

In [108]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [member if len(member) >= 7 else "" for member in fellowship]

# Print the new list
print(new_fellowship)

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

### Dict comprehensions

In [109]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create dict comprehension: new_fellowship
new_fellowship = {member: len(member) for member in fellowship}

# Print the new dictionary
print(new_fellowship)

{'frodo': 5, 'samwise': 7, 'merry': 5, 'aragorn': 7, 'legolas': 7, 'boromir': 7, 'gimli': 5}

## Introduction to generator expressions

In [110]:
[2 * num for num in range(11)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [111]:
(2 * num for num in range(11))

In [113]:
result = (num for num in range(6))
print(list(result))

[0, 1, 2, 3, 4, 5]

> A list comprehension produces a list as output, a generator produces a generator object.

### Write your own generator expressions

In [115]:
# Create generator object: result
result = (num for num in range(31))

# Print the first 5 values
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

0
1
2
3
4

In [116]:
# Print the rest of the values
for value in result:
    print(value)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

### Changing the output in generator expressions

In [117]:
# Create a list of strings: lannister
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Create a generator object: lengths
lengths = (len(person) for person in lannister)

# Iterate over and print the values in lengths
for value in lengths:
    print(value)

6
5
5
6
7

### Build a generator

In [119]:
# Create a list of strings
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Define generator function get_lengths
def get_lengths(input_list):
    """Generator function that yields the
    length of the strings in input_list."""

    # Yield the length of a string
    for person in input_list:
        yield len(person)

In [120]:
# Print the values generated by get_lengths()
for value in get_lengths(lannister):
    print(value)

6
5
5
6
7

## Wrapping up comprehensions and generators.
### List comprehensions for time-stamped data

In [121]:
df = pd.read_csv('tweets.csv')
df.head(2)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."

In [125]:
df['created_at'].head()

0    Tue Mar 29 23:40:17 +0000 2016
1    Tue Mar 29 23:40:17 +0000 2016
2    Tue Mar 29 23:40:17 +0000 2016
3    Tue Mar 29 23:40:17 +0000 2016
4    Tue Mar 29 23:40:17 +0000 2016
Name: created_at, dtype: object

In [123]:
# Extract the created_at column from df: tweet_time
tweet_time = df['created_at']

# Extract the clock time: tweet_clock_time
tweet_clock_time = [entry[11:19] for entry in tweet_time]

# Print the extracted times
print(tweet_clock_time)

['23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']

### Conditional list comprehensions for time-stamped data

In [126]:
# Extract the created_at column from df: tweet_time
tweet_time = df['created_at']
tweet_time[11:19]

11    Tue Mar 29 23:40:17 +0000 2016
12    Tue Mar 29 23:40:18 +0000 2016
13    Tue Mar 29 23:40:18 +0000 2016
14    Tue Mar 29 23:40:17 +0000 2016
15    Tue Mar 29 23:40:18 +0000 2016
16    Tue Mar 29 23:40:18 +0000 2016
17    Tue Mar 29 23:40:17 +0000 2016
18    Tue Mar 29 23:40:18 +0000 2016
Name: created_at, dtype: object

In [127]:
# Extract the clock time: tweet_clock_time
tweet_clock_time = [entry[11:19] for entry in tweet_time if entry[17:19] == '19']

# Print the extracted times
print(tweet_clock_time)

['23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']